:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-color:  rgb(141, 141, 250);
  text-align: center;
}

body {
  background: rgb(26, 23, 23);
  font-family: 'Times New Roman';
  color: white;
  margin: 0;
  padding: 0;

}

header {
background: black;
padding: 5rem 10rem;
}

section {
background: white;
color:rgb(82, 78, 78);
padding: 10rem;
display: flex;  
flex-direction: row-reverse;
}

div {
  background: purple;
  display: inline-block;
  width: 50rem;
  margin: auto;
}

ul {
  margin: 0;
  padding 0:
}

li {
  display: inline-block;
  margin-right: 3rem;
  list-style: none;
  border: 1rem solid white;
}

footer {
background: white;
padding: 5rem 10rem;
}